.heroSection {
  padding: 145px 80px 60px 80px;
  gap: 60px;
  display: grid;
  max-width: 1440px;
  margin: auto !important;
}

.bgImage {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  background: url('/assets/images/hero_background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.heroHeader {
  font-size: 84px;
  font-weight: 900;
  line-height: 105px; /* 125% */
  text-align: left;
  color: #121212;
  font-style: normal;
  margin: 0;
}

.heroSubHeader {
  display: block;
  color: #2f80ed;
}

.subContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heroDescription {
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  font-style: normal;
  max-width: 734px;
  margin: 0px;
  color: #121212;
}

.contactUsBtn {
  margin: 10px 30px;
  z-index: 2;
  position: relative;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  white-space: nowrap;
  font-style: normal;
}

.contactItem {
  margin: 10px 30px;
  z-index: 2;
  position: relative;
}

.contactUsLink {
  display: flex;
  position: relative;
  width: 240px;
  height: 48px;
  color: #121212;
  justify-content: center;
  align-items: center;
}

.layer {
  position: absolute;
  top: 100%;
  left: 0;
  height: 2px;
  width: 100%;
  background: #121212;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.contactUsLink:hover {
  color: white;
  transition: color 0.3s ease-in-out;
}

.contactUsLink:hover .defaultText {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.contactUsLink:hover .changeText {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.contactUsLink:hover .layer {
  top: 0;
  height: 100%;
}

.defaultText {
  position: absolute;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.changeText {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.exploreBtn {
  display: grid;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  gap: 10px;
  line-height: normal;
  font-style: normal;
  color: #121212;
  justify-content: center;
  cursor: pointer;
}

.ovalAnimation {
  position: relative;
  width: 30px;
  height: 50px;
  border-radius: 20px;
  border: 2px solid #121212;
  margin: auto;
}
/* .ball {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 2px;
  background-color: #121212;
  border-radius: 50%;
  animation: bounce 1.5s infinite alternate;
  animation-timing-function: ease-in-out;
}
@keyframes bounce {
  0% {
    height: 2px;
    bottom: 1px;
    border-radius: 50%;
    transform: scale(1);
  }
  100% {
    bottom: 10px;
    border-radius: 20px;
    height: 10px;
    transform: scale(1.2);
  }
} */
.ball {
  position: absolute;
  bottom: 0px;
  left: 46%;
  transform: translateX(-50%);
  width: 2px;
  height: 2px;
  background-color: #121212;
  border-radius: 50%;
  animation: bounce 1.5s infinite alternate;
  animation-timing-function: ease-in-out;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@keyframes bounce {
  0% {
    height: 2px;
    bottom: 1px;
    border-radius: 50%;
    transform: scale(1);
  }
  100% {
    bottom: 10px;
    border-radius: 20px;
    height: 10px;
    transform: scale(1.2);
  }
}

.headerSection {
  display: grid;
  gap: 90px;
}

.hamburger {
  cursor: pointer;
  z-index: 1000;
  display: block;
  overflow: hidden;
  width: 32px;
  height: 26px;
  position: relative;
}

.linegroup {
  position: relative;
  display: block;
  background-color: #000;
  width: 20px;
  height: 2px;
  transition: 0.3s;
  margin-left: auto;
}

.line1 {
  right: 100%;
  margin-bottom: 6px;
}
.line3 {
  right: -100%;
  margin-bottom: 6px;
}
.line2 {
  transform: rotate(-135deg);
  top: 2px;
  width: 70%;
  margin-bottom: 6px;
}
.line4 {
  transform: rotate(135deg);
  top: -13.5px;
  width: 70%;
}
@media (min-width: 1440px) {
  .heroSection {
    max-width: 1600px;
  }
}
@media only screen and (max-width: 992px) and (min-width: 768px) {
  .heroSection {
    padding: 102px 47.5px 45px 47.5px;
    gap: 45px;
  }

  .contactUsLink {
    min-width: 230px;
  }

  .contactUsBtn {
    font-size: 16px;
    line-height: 25.5px;
  }

  .heroDescription {
    margin-right: 50px;
    line-height: 25.5px;
  }

  .heroHeader {
    font-size: 62px;
    line-height: 82.5px;
  }
}

@media only screen and (max-width: 767px) {
  .heroSection {
    padding: 60px 15px 30px 15px;
  }

  .headerSection {
    gap: 30px;
  }

  .heroHeader {
    font-size: 40px;
    line-height: 60px; /* 150% */
  }
  .heroDescription {
    margin: 0;
    display: block;
    font-size: 16px;
    line-height: 26px; /* 162.5% */
  }

  .subContainer {
    display: grid;
    justify-content: left;
    gap: 30px;
    align-items: center;
  }
  .contactUsLink {
    display: block;
    min-width: 220px;
    width: 220px;
    height: 44px;
  }

  .contactUsBtn {
    font-size: 16px;
  }
  .exploreBtn {
    display: none;
  }
  .bgImage {
    height: 485px;
  }
}
