.TeamSection {
  padding: 60px 80px;
  max-width: 1440px;
  margin: auto;
}

.teamHeader {
  display: flex;
  gap: 15px;
  align-items: center;
  color: #e67e22;
  margin-bottom: 30px;
}

.teamheaderLine {
  width: 80px;
  opacity: 100%;
}

.teamheaderText {
  font-weight: 600;
  font-size: 18px;
  margin: 0;
  letter-spacing: 3.6px;
  line-height: normal;
  text-transform: uppercase;
  font-style: normal;
  color: #e67e22;
}

.teamh2 {
  color: var(--Black-Primary, #121212);
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  margin-bottom: 0px;
}
.teamh2 span {
  color: var(--Button, #2f80ed);
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
}

.blueText {
  color: var(--Button, #2f80ed);
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
}

.teamText {
  color: var(--Black-Primary, #121212);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 0px;
  height: 100%;
  display: flex;
  align-items: center;
}
@media (min-width: 1440px) {
  .TeamSection {
    max-width: 1600px;
  }
}
@media only screen and (max-width: 992px) and (min-width: 768px) {
  .TeamSection {
    padding: 45px 47.5px;
  }

  .teamheaderText {
    letter-spacing: 1.8px;
  }

  .teamh2 span {
    font-size: 26px;
  }
  .blueText {
    font-size: 26px;
  }

  .teamh2 {
    font-size: 26px;
    line-height: 38px;
  }

  .teamTex {
    line-height: 28px;
  }
}

@media only screen and (max-width: 767px) {
  .TeamSection {
    padding: 30px 15px;
  }

  .teamheaderText {
    letter-spacing: 1.8px;
  }

  .teamh2 span {
    font-size: 26px;
    line-height: 39px; /* 150% */
  }
  .blueText {
    font-size: 26px;
    line-height: 39px; /* 150% */
  }

  .teamh2 {
    font-size: 26px;
    line-height: 39px; /* 150% */
    margin-bottom: 20px;
  }

  .teamTex {
    line-height: 28px;
  }
  .teamheaderLine {
    width: 40px;
  }
  .teamText {
    line-height: 26px;
    font-size: 16px;
  }
}
